<div class="container">
  <h1 class="text-center">Binding</h1>
  <div class="row text-center">
    <div class="col-6 mt-5">
      <h2>String Interpolation</h2>
      <p>Interpolazione di stringa: {{ message }}</p>
      <p>Interpolazione di stringa, espressione matematica: {{ (3*3*3) }}</p>
      <p>Interpolazione di stringa, chiamata medoto: {{ InterpolationString() }}</p>
    </div>
    <div class="col-6 mt-5">
      <h2>Event binding</h2>
      <button class="btn btn-primary" (click)="CheckStatus()">Test Event Binding</button>
    </div>
    <div class="col-6 mt-5">
      <h2>Property binding</h2>
      <button class="btn btn-primary" (click)="CheckDisabled()">Disable/Enable</button>
      <button class="btn btn-primary ms-2" [disabled]="isButtonDisabled">Test Property Binding</button>
    </div>
        <div class="col-6 mt-5">
      <h2>Two Way Binding</h2>
    </div>
  </div>
</div>
